.box {
    width: 13%;
    height: 100vh;
    display: inline-block;
    position: relative;
    text-align: center;
}
.box .color-content {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.box .color-content .content {
    display: inline-block;
    background-color: rgba(1, 1, 1, 0.4);
    padding: 5px;
    border-radius: 4px;
}